In [1]:
#importing the required library for the model
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
#converting the csv file to pandas DataFrame
df = pd.read_csv("Campaign_Data.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10912592 entries, 0 to 10912591
Data columns (total 4 columns):
 #   Column              Dtype
---  ------              -----
 0   CustID              object
 1   status              object
 2   Campaign_Exec_Date  object
 3   Campaign_Channel    object
dtypes: object(4)
memory usage: 333.0+ MB

In [4]:
#calculating the null values present in the data
df.isnull().sum()

CustID                0
status                0
Campaign_Exec_Date    0
Campaign_Channel      0
dtype: int64

In [5]:
#calculating the unique values in the columns
df["Campaign_Channel"].value_counts()

Campaign_Channel
Email    10527383
SMS        385209
Name: count, dtype: int64

In [6]:
df["status"].value_counts()

status
viewed       5697853
delivered    5002558
click         170190
clicked        41991
Name: count, dtype: int64

In [7]:
df2 = pd.read_csv("Customer_Master_Data.csv")

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502121 entries, 0 to 502120
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   CustID          502121 non-null  object
 1   Gender          364467 non-null  object
 2   Marital_Status  67995 non-null   object
 3   Pincode         492249 non-null  object
 4   State           492181 non-null  object
dtypes: object(5)
memory usage: 19.2+ MB

In [9]:
df2.head(10)

      CustID Gender Marital_Status   Pincode          State
0  7teAttAeH    NaN            NaN  678506.0          Keral
1  7t8tJJHt7    NaN            NaN  770001.0         Odisha
2  787t17tJt    NaN            NaN  245101.0  Uttar Pradesh
3  787ttJtHH    NaN            NaN  673008.0          Keral
4  7878HHoHo    NaN            NaN  501510.0      Telangana
5  7878G1HJo    NaN            NaN  206130.0  Uttar Pradesh
6  78788H78H    NaN            NaN       NaN            NaN
7  78GJ7o1HH    NaN            NaN  734007.0    West Bengal
8  JJ87t1tAG    NaN            NaN  110015.0          Delhi
9  G7te7eJo1    NaN            NaN       NaN            NaN

In [10]:
#calculating the percentage of the null values present in the dataframe
df2.isnull().sum()/len(df2)*100

CustID             0.000000
Gender            27.414508
Marital_Status    86.458443
Pincode            1.966060
State              1.979603
dtype: float64

In [11]:
#checking the total no of null values present in the column
df2["Pincode"].isnull().sum()

9872

In [12]:
#droping the column beccause the more than 85% values are nulls
df2.drop("Marital_Status",axis=1,inplace=True)

In [13]:
df2["Gender"].value_counts()

Gender
Male           292764
Female          71687
Transgender        16
Name: count, dtype: int64

In [15]:
#filling the null values in the column with "Not available"
df2["Gender"] = df2["Gender"].fillna("Not available")

In [16]:
#converting the DataFrame to csv file
df2.to_csv("mastr_data.csv")

In [20]:
master_data = pd.read_csv("master_data.csv")

In [21]:
master_data.isnull().sum()

Unnamed: 0            0
CustID                0
Gender                0
Pincode            6102
State              6103
camping_recieve       0
dtype: int64

In [22]:
#filling the null values in the column with "Not available"
master_data["Pincode"] = master_data["Pincode"].fillna("Not available")

In [23]:
master_data["State"] = master_data["State"].fillna("Not available")

In [24]:
master_data.isnull().sum()

Unnamed: 0         0
CustID             0
Gender             0
Pincode            0
State              0
camping_recieve    0
dtype: int64

In [25]:
df3 = pd.read_csv("Customer_Transaction_Data.csv")

In [26]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1625393 entries, 0 to 1625392
Data columns (total 16 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   CustID                    1625393 non-null  object
 1   ItemDesc                  1615527 non-null  object
 2   MerchCategoryDescription  1615527 non-null  object
 3   MerchClassDescription     1613558 non-null  object
 4   MerchGroupDescription     1613558 non-null  object
 5   SaleValue                 1625384 non-null  float64
 6   OrderedQuantity           1625393 non-null  int64
 7   OrderDate                 1625393 non-null  object
 8   ReturnFlag                77239 non-null    object
 9   SalesChannelCode          1625393 non-null  object
 10  Ecom_BnM_Indicator        1625393 non-null  object
 11  StoreID                   1625374 non-null  float64
 12  StoreCode                 1625390 non-null  object
 13  StoreCity                 1500269 non-null  object
 14  StoreState                1442466 non-null  object
 15  StorePincode              1442466 non-null  object
dtypes: float64(2), int64(1), object(13)
memory usage: 198.4+ MB

In [27]:
df3.isnull().sum()/len(df3)*100

CustID                       0.000000
ItemDesc                     0.606992
MerchCategoryDescription     0.606992
MerchClassDescription        0.728132
MerchGroupDescription        0.728132
SaleValue                    0.000554
OrderedQuantity              0.000000
OrderDate                    0.000000
ReturnFlag                  95.247980
SalesChannelCode             0.000000
Ecom_BnM_Indicator           0.000000
StoreID                      0.001169
StoreCode                    0.000185
StoreCity                    7.698077
StoreState                  11.254324
StorePincode                11.254324
dtype: float64

In [28]:
#checking the common custid present in the camping data and Transaction_Data if value is present then denoted as 1 and if not then 0
df3['camping_recieve'] = np.where(df3['CustID'].isin(df['CustID']), 1, 0)

In [29]:
df3["camping_recieve"].value_counts()

camping_recieve
1    1223487
0     401906
Name: count, dtype: int64

In [30]:
#Exclude records which were not sent any campaigns
new_trans = df3[df3["camping_recieve"] == 1]

In [31]:
df2['camping_recieve'] = np.where(df2['CustID'].isin(df['CustID']), 1, 0)

In [38]:
master_data = df2[df2["camping_recieve"] == 1]

In [39]:
new_trans.isnull().sum()

CustID                       0
MerchGroupDescription    11617
SaleValue                    1
OrderedQuantity              0
OrderDate                    0
camping_recieve              0
dtype: int64

In [35]:
#Dropping the colums which are not related to camping data
new_trans.drop(["ItemDesc","MerchCategoryDescription","MerchClassDescription","ReturnFlag","SalesChannelCode","Ecom_BnM_Indicator"],axis=1,inplace=True)

In [36]:
new_trans.drop(["StoreID","StoreCode","StoreCity","StoreState","StorePincode"],axis=1,inplace=True)

In [40]:
new_trans.drop("MerchGroupDescription",axis=1,inplace=True)

In [41]:
new_trans

,CustID,SaleValue,OrderedQuantity,OrderDate,camping_recieve
0,JFRGRFjeEJVG8RJF8R1Foj8AJJ7Et8oH,-25398.00,-1,2019-01-01,1
1,JFRGRFjeEJVG8RJF8R1Foj8AJJ7Et8oH,-193703.10,-1,2019-01-01,1
2,V1AG7tA7E1tMVjt7tVH7JARR11AVotet,26518.98,1,2019-01-01,1
3,V1AG7tA7E1tMVjt7tVH7JARR11AVotet,0.00,1,2019-01-01,1
4,tAEVH8jEG1Eoe1GE1JEojJetVtMGFjto,-1120.98,-1,2019-01-01,1
...,...,...,...,...,...
1625385,1R8VAEFAj81t8VFE7A8JAEEGFHRRt17H,148399.80,1,2021-12-31,1
1625387,VJGotRRtJoe7RRMJHHtE1E71EtE7RJ88,4894.98,1,2021-12-31,1
1625388,VJGotRRtJoe7RRMJHHtE1E71EtE7RJ88,610.98,1,2021-12-31,1
1625389,VG8FJjo7HJH7118AF7JHGV1FE1tMjJMG,111424.80,1,2021-12-31,1
1625391,VoVjHMA7RGRj8eAeM1ooAE7VEEe8M1j1,1127.10,1,2021-12-31,1

In [42]:
master_data.head()

      CustID         Gender   Pincode          State  camping_recieve
0  7teAttAeH  Not available  678506.0          Keral                1
1  7t8tJJHt7  Not available  770001.0         Odisha                1
2  787t17tJt  Not available  245101.0  Uttar Pradesh                1
3  787ttJtHH  Not available  673008.0          Keral                1
4  7878HHoHo  Not available  501510.0      Telangana                1

**function to calculate if the order is placed within the month or not related to camping excutation date**

In [44]:
def month_differnce(row,date1,date2):

    date1 = pd.to_datetime(row[date1], errors='coerce')
    date2 = pd.to_datetime(row[date2], errors='coerce')
    if pd.isna(date1) or pd.isna(date2):
        return None
    date_1 = pd.to_datetime(date1)
    date_2 = pd.to_datetime(date2)

    year_difference = date_2.year - date_1.year
    month_difference = date_2.month - date_1.month

    total_month_difference = year_difference*12 + month_difference

    return total_month_difference

Number of Transactions (qty and value) in the Last 12 Months

In [46]:
#convering the datatype pf the column to date-type
df["Campaign_Exec_Date"] = pd.to_datetime(df["Campaign_Exec_Date"])
new_trans["OrderDate"] = pd.to_datetime(new_trans["OrderDate"])

In [47]:
#Creating a seprate dataframe for the values of last year
one_year_trans = new_trans[(new_trans["OrderDate"].dt.year == 2021) | (new_trans["OrderDate"].dt.year == 2020) ]

In [48]:
one_year_camp = df[(df["Campaign_Exec_Date"].dt.year == 2020) | (df["Campaign_Exec_Date"].dt.year == 2021)]

In [51]:
#merging the by performing inner join on master data and camping data
Merge_data = pd.merge(one_year_camp, master_data, on='CustID', how='inner')

In [52]:
#merging the by performing inner join on mergedata data and Transaction_Data
Merge_data = pd.merge(Merge_data, one_year_trans, on='CustID', how='inner')

In [53]:
len(Merge_data)

11440893

In [55]:
Merge_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11440893 entries, 0 to 11440892
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   CustID              object
 1   status              object
 2   Campaign_Exec_Date  datetime64[ns]
 3   Campaign_Channel    object
 4   Gender              object
 5   Pincode             object
 6   State               object
 7   camping_recieve_x   int32
 8   SaleValue           float64
 9   OrderedQuantity     int64
 10  OrderDate           datetime64[ns]
 11  camping_recieve_y   int32
dtypes: datetime64[ns](2), float64(1), int32(2), int64(1), object(6)
memory usage: 960.2+ MB

In [56]:
Merge_data.drop(["camping_recieve_x","camping_recieve_y"],axis=1,inplace=True)

In [58]:
Merge_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11440893 entries, 0 to 11440892
Data columns (total 10 columns):
 #   Column              Dtype
---  ------              -----
 0   CustID              object
 1   status              object
 2   Campaign_Exec_Date  datetime64[ns]
 3   Campaign_Channel    object
 4   Gender              object
 5   Pincode             object
 6   State               object
 7   SaleValue           float64
 8   OrderedQuantity     int64
 9   OrderDate           datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(6)
memory usage: 872.9+ MB

In [ ]:
#applying the month difference fuction to DataFrame to calculate the difference in months of camping excutation and orderdate
Merge_data["month_difference"] = Merge_data.apply(month_differnce,axis = 1,args=('Campaign_Exec_Date', 'OrderDate'))

In [62]:
#function to check Whether there was any transaction within 1 month of campaign - accordingly create an outcome variable - 0 for no transactions and 1 for transactions (
def outcome(date):
    if date>1:
        return 0
    else:
        return 1

In [ ]:
#applying the function
da2["outcome"] = da2["month_difference2"].apply(outcome)

In [63]:
Merge_data.sample(5)

,Unnamed: 0,CustID,status,Campaign_Exec_Date,Campaign_Channel,Gender,Pincode,State,SaleValue,OrderedQuantity,OrderDate,month_difference2,outcome
9660315,9660315,jMj7jjjHAH71GMAA1G7AH71R1MAF8je1,delivered,2020-11-27,Email,Male,110026.0,Delhi,4.08,1,2021-12-27,13,0
1145970,1145970,7eeJHGtG8,viewed,2020-10-31,Email,Not available,110001.0,Delhi,9639.00,1,2020-11-06,1,1
8385305,8385305,Ze1qe177oe1AtA1,click,2020-10-27,Email,Male,400050.0,Maharashtra,2748.90,1,2020-03-09,-7,1
10342267,10342267,oeGHFEjEAVeRo7JeFoe118oGejEMjjjE,viewed,2020-03-29,Email,Male,394107.0,Gujarat,44878.98,1,2020-08-27,5,0
9204939,9204939,eot7H1oE8oGjo1EJjtVVto1EteAFeGt8,viewed,2020-10-23,Email,Male,394180.0,Gujarat,4059.60,1,2021-05-29,7,0

In [ ]:
#convert the final file into csv
da2.to_csv("data.csv")